#about {
}

.about-content {
  margin-bottom: 72px;

  &__wrapper {
    position: relative;
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: -10%;
    right: -15%;
  }

  &__title {
    position: relative;
    padding: 28px 0;

    border-bottom-right-radius: 75px;

    background-color: $palette-gray;
    color: $color-text__white;

    font-size: $font-size__text--large - 1px;
    line-height: $line-height--tall;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;

      width: 100vw;
      height: 100%;
      background-color: $palette-gray;
    }
  }

  &__info {
    margin-top: 64px;
    padding-left: 32px;

    font-size: $font-size__text--large;
  }

  &__heading {
  }

  &__list {
    margin-top: 36px;
    padding-left: 24px;

    list-style-type: disc;

    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__action {
    margin-top: 64px;
    text-align: right;

    .button {
      margin-right: 24px;
    }
  }
}

.about-order {
  padding: 40px 0;
  background-color: $palette-lightgray;

  &__card {
    position: relative;

    @media (hover: hover) {
      &:hover {
        .about-order__play circle {
          fill: $palette-orange;
          fill-opacity: 1;
        }
      }
    }
  }

  &__title {
    margin-bottom: 64px;

    font-size: $font-size__title--small;
    text-align: center;
  }

  &__video {
    position: relative;
  }

  &__play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  &__label {
    position: absolute;
    top: 82px;
    left: -44px;

    padding: 8px 16px;

    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

    background-color: $palette-orange;
    color: $color-text__white;

    font-weight: $weight-Bold;
    font-size: 10px;

    text-transform: uppercase;
    transform: rotate(-90deg);
  }

  &__preview {
    position: relative;
    z-index: 2;
  }

  &__step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 8px;
    text-align: center;

    text-decoration: underline;
    text-decoration-skip-ink: none;

    &::before {
      content: "";
      width: 24px;
      height: 24px;

      margin-right: 12px;
      border-radius: 50%;

      background: $palette-orange;
      box-shadow: 0 0 5 rgba(#000000, 0.25);
    }
  }
}
