// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  overflow: hidden;
}

.hero {
  position: relative;

  &__background {
    @include breakpoint($breakpoint-tablet) {
      top: 12%;
      right: 50%;
      min-width: 360px;
      max-width: 360px;

      transform: translateX(50%);
    }

    position: absolute;
    top: -15%;
    right: -25%;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 160px;
      padding-left: 0;
      font-size: $font-size__text--large + 3px;

      line-height: $line-height--primary;
      text-transform: none;
    }

    position: relative;

    margin-top: 32px;
    margin-left: 12px;
    padding-left: 24px;

    font-weight: $weight-Bold;
    font-size: $font-size__title--large;

    line-height: 1.15;
    text-transform: uppercase;

    &::before {
      @include breakpoint($breakpoint-tablet) {
        content: none;
      }

      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 3px;
      height: 100%;

      background-color: $palette-black;
    }
  }

  &__advantage {
    margin-top: 32px;

    & > * {
      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size__text--regular;
      }

      display: flex;
      align-items: center;

      font-size: $font-size__text--large;

      img {
        @include breakpoint($breakpoint-tablet) {
          width: 24px;
        }
      }
    }
  }

  &__action {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 40px;
      margin-left: 0;
      text-align: center;
    }

    margin-top: 54px;
    margin-left: 112px;

    padding-bottom: 15px;
  }
}
