#map {
  overflow: hidden;

  .section__header {
    position: relative;
    z-index: 2;
  }
}

.map {
  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular;
      text-align: center;
    }

    @include breakpoint($breakpoint-mobile--large) {
      text-align: left;
    }

    position: relative;
    z-index: 2;
    font-size: $font-size__text--large + 3px;
    text-align: center;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      width: 1200px;
      margin-top: -100px;
      margin-bottom: -80px;
    }

    position: relative;
    margin-top: -50px;
  }
}
