#portfolio-home {
}

.portfolio-home {
  &__action {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 40px;
    }

    margin-top: 72px;
    text-align: center;

    a {
      font-weight: $weight-Bold;
      font-size: $font-size__text--large;

      text-transform: uppercase;
    }
  }
}
