.link {
  transition: $transition ease;

  @media (hover: hover) {
    &:hover {
      color: $color-text__orange !important;
    }
  }

  &--underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}
