<!-- Подвал -->
<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="footer__content">
        <div class="row">
          <div class="col-12 col-lg-3 mb-4 mb-sm-5 mb-lg-0">
            <a href="">
              <img class="logo logo--header" src="img/logo--black.svg" alt="">
            </a>
          </div>
          <!-- /.col-3 -->

          <div class="col-12 col-sm-6 col-lg-5 mb-4 mb-sm-0">
            <nav class="nav nav--footer">
              <ul class="nav__list nav__list--dotted">
                <li class="nav__item">
                  <a class="nav__link link" href="">Застройщикам</a>
                </li>

                <li class="nav__item">
                  <a class="nav__link link" href="">Государственным учереждениям</a>
                </li>

                <li class="nav__item">
                  <a class="nav__link link" href="">Коммерческим организациям</a>
                </li>
              </ul>
            </nav>
            <!-- /.nav -->
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-sm-6 col-lg-4">
            <nav class="nav nav--footer">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link link" href="tel:">
                    <img class="me-3" src="img/icons/contact/phone.svg" alt="">
                    +7 (851) 199-52-52
                  </a>
                </li>

                <li class="nav__item">
                  <a class="nav__link link" href="mailto:">
                    <img class="me-3" src="img/icons/contact/mail.svg" alt="">
                    corp_sales@okna-fabricant.ru
                  </a>
                </li>

                <li class="nav__item">
                  <a class="nav__link link" href="" target="_blank">
                    <img class="me-3" src="img/icons/contact/pin.svg" alt="">
                    1-й проезд Рождественского 1А, 2 этаж
                  </a>
                </li>

                <li class="nav__item">
                  <a class="nav__link">
                    <img class="me-3" src="img/icons/contact/clock.svg" alt="">
                    пн-пт с 8:00 до 18:00
                  </a>
                </li>
              </ul>
            </nav>
            <!-- /.nav -->
          </div>
          <!-- /.col-5 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.footer__content -->

      <div class="footer__info">
        <div class="row">
          <div class="col-12 col-lg-7 mb-4 mb-lg-0">
            <p class="footer__copyright">
              Информация не является публичной офертой. Некоторые изображения
              <br>
              взяты из общедоступных источников и все права на них принадлежат авторам.
              <br>
              В случае их появления я готов установить ссылку на автора или удалить изображение.
            </p>
          </div>
          <!-- /.col-6 -->

          <div class="col-12 col-lg-5">
            <a target="_blank" href="" class="footer__privacy link">
              Политика обработки персональных данных
            </a>
          </div>
          <!-- /.col-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.footer__info -->
    </div>
    <!-- /.footer -->
  </div>
  <!-- /.container -->
</footer>

<!-- Скрипты -->
<!-- build:js js/script.min.js -->
<script src="scripts/libraries/lazyload.js"></script>
<script src="scripts/libraries/swiper.min.js"></script>
<script src="scripts/libraries/fslightbox.js"></script>
<script src="scripts/libraries/imask.js"></script>
<script src="scripts/libraries/micromodal.min.js"></script>
<script src="scripts/libraries/forms.js"></script>

<script src="scripts/base.js"></script>
<script src="scripts/init.js"></script>
<script src="scripts/slider.js"></script>
<script src="scripts/header.js"></script>
<!-- endbuild -->
</body>

</html>