.input {
  position: relative;

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &--error {
    .input__field {
      border-color: #e64747;
    }

    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    width: 100%;
    padding: 12px 25px;

    border: none;
    border-radius: 12px;
    outline: none;

    background-color: $palette-white;
    color: $color-text__primary;

    box-shadow: 0 2px 6px rgba(#000000, 0.2);
    font-size: $font-size__title--medium;

    &::placeholder {
      color: $color-text__gray;
    }
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 15px;

    width: 24px;
    height: 24px;

    opacity: 0;
    visibility: hidden;

    cursor: help;
    transform: translateY(-50%);

    transition: 0.2s ease;
  }
}
