.input {
  position: relative;

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &--error {
    .input__field {
      border-color: $color-text__red;
    }

    .input__warning {
      margin-top: 12px;
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    position: relative;
    z-index: 2;

    width: 100%;
    padding: 12px 25px;

    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 12px;
    outline: none;

    background-color: $palette-white;
    color: $color-text__primary;

    box-shadow: 0 2px 6px rgba(#000000, 0.2);
    font-size: $font-size__title--medium - 8px;

    transition: $transition ease;

    &::placeholder {
      color: $color-text__gray;
    }
  }

  &__warning {
    display: block;

    margin-top: -30px;

    color: $color-text__red;
    font-weight: $weight-Medium;
    text-align: center;

    opacity: 0;
    visibility: hidden;

    transition: 0.2s ease;
  }
}
