.input {
  position: relative;

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &--error {
    .input__field {
      margin-bottom: 24px;
      border-color: $color-text__red;
    }

    .input__warning {
      bottom: -4px;
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    @include breakpoint($breakpoint-mobile--large) {
      padding: 16px;
      border-radius: 8px;
      font-size: $font-size__text--big;
    }

    position: relative;
    z-index: 2;

    width: 100%;
    padding: 12px 25px;

    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 12px;
    outline: none;

    background-color: $palette-white;
    color: $color-text__primary;

    box-shadow: 0 2px 6px rgba(#000000, 0.2);
    font-size: $font-size__title--medium - 8px;

    transition: $transition ease;

    &::placeholder {
      color: $color-text__gray;
    }
  }

  &__warning {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;

    width: 100%;

    color: $color-text__red;
    font-weight: $weight-Medium;
    text-align: center;

    opacity: 0;
    visibility: hidden;

    transform: translateX(-50%);
    transition: 0.2s ease;
  }
}
