/* purgecss start ignore */

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar__bg;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: $scrollbar__contoller;
  }
}

/* purgecss end ignore */
