// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  margin-top: 100px;
  padding: 20px 0;

  background-color: $palette-darkgray;
}

.footer {
  &__content {
    @include breakpoint($breakpoint-tablet) {
      padding: 36px 0;
    }

    position: relative;
    padding: 75px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;

      height: 2px;
      background-color: $palette-lightgray;

      transform: translateX(-50%);
    }

    &::before {
      top: 0;
      width: 100vw;
    }

    &::after {
      bottom: 0;
      width: 110%;
    }
  }

  &__info {
    margin-top: 16px;
    font-size: $font-size__text--small - 2px;
  }

  &__copyright,
  &__privacy {
    color: $color-text__gray;
  }

  &__copyright {
    @include breakpoint($breakpoint-tablet) {
      br {
        display: none;
      }
    }
  }

  &__privacy {
    padding: 8px 0;
  }
}
