// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;

    &--dotted {
      .nav__link {
        display: inline-flex;
        align-items: center;

        &::before {
          content: "";
          width: 12px;
          height: 12px;

          margin-right: 8px;

          border: 2px solid $palette-orange;
          border-radius: 50%;
        }
      }
    }
  }

  &__item {
  }

  &__link {
  }

  &--header {
    .nav__list {
      align-items: center;
      justify-content: space-between;

      height: 75px;
    }

    .nav__item {
      position: relative;
      flex: 1 0 auto;

      height: 100%;

      text-align: center;

      @media (hover: hover) {
        &:hover::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;

        width: 0;
        height: 5px;
        background-color: $palette-orange;

        transition: $transition ease;
      }
    }

    .nav__link {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;

      color: $color-text__white;
      font-size: $font-size__text--big;
    }
  }

  &--footer {
    display: flex;
    justify-content: center;

    .nav__list {
      display: inline-flex;
      flex-direction: column;
    }

    .nav__item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    .nav__link {
      display: inline-flex;
      align-items: center;

      color: $color-text__white;

      // font-size: $font-size__text--big;
    }
  }
}
