.section {
  &:not(:first-child) {
    @include breakpoint($breakpoint-tablet) {
      padding-top: 70px;
    }

    padding-top: 120px;
  }

  &__header {
    @include breakpoint($breakpoint-tablet) {
      overflow: hidden;
      margin-bottom: 30px;
    }

    margin-bottom: 60px;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--large + 3px;
    }

    font-weight: $weight-Bold;
    font-size: $font-size__title--small;
    font-family: NotoSerif, serif;

    text-align: center;
    text-transform: uppercase;

    &--line {
      position: relative;
      width: fit-content;
      margin: 0 auto;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        display: block;

        width: 100vw;
        height: 2px;

        background-color: $palette-black;

        transform: translateY(-50%);
      }

      &::before {
        left: calc(100% + 15px);
      }

      &::after {
        right: calc(100% + 15px);
      }
    }
  }
}
