// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  &__breadcrumbs {
    display: inline-flex;
    align-items: center;

    margin-top: 12px;
    margin-bottom: 24px;

    li {
      font-weight: $weight-Medium;

      &:not(:last-child) {
        a {
          color: $color-text__gray;
        }

        &::after {
          content: "/";
          margin-right: 4px;

          color: $color-text__orange;
        }
      }
    }
  }

  &__header {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 30px;
    }

    margin-bottom: 60px;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--large + 3px;
    }

    display: flex;
    align-items: center;

    font-weight: $weight-Bold;
    font-size: $font-size__title--small;
    text-transform: uppercase;

    &::before {
      @include breakpoint($breakpoint-tablet) {
        content: none;
      }

      content: "";
      display: block;

      width: 64px;
      height: 64px;

      margin-right: 24px;

      background-image: url("../img/icons/misc/page__header.svg");
      background-position: center center;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &--big {
      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size__title--small;
      }

      font-size: $font-size__title--large;
    }
  }
}
