#callback {
  .section__header {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    margin-bottom: 36px;
  }

  .section__title {
    font-weight: $weight-Bold;
    font-size: $font-size__title--medium - 8px;
    font-family: NotoSans, sans-serif;

    line-height: $line-height--secondary;
    text-transform: initial;

    span {
      font-weight: $weight-Regular;
      font-size: $font-size__title--small - 4px;
    }
  }
}

.callback {
  @include breakpoint($breakpoint-tablet) {
    padding: 16px 24px;
    border-radius: 24px;
  }

  padding: 36px;
  border-radius: 36px;

  background-color: $palette-lightgray;
  box-shadow: 0 4px 20px rgba(#000000, 0.2);

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__info {
    @include breakpoint($breakpoint-tablet) {
      font-weight: $weight-Bold;
      font-size: $font-size__text--large;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--regular;
    }

    margin-bottom: 36px;

    font-size: $font-size__text--large;
    text-align: center;
  }

  &__form {
    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }

    width: 65%;
    margin: 0 auto;
  }

  &__action {
    @include breakpoint($breakpoint-tablet) {
      margin-top: 36px;
      margin-bottom: 18px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: auto;

    font-weight: $weight-Medium;
    text-align: center;

    a {
      @include breakpoint($breakpoint-tablet) {
        font-weight: $weight-Bold;
        font-size: $font-size__text--large + 4px;
      }

      font-size: $font-size__title--small;
    }
  }
}
