#single-facility {
  .section__header {
    margin-bottom: 30px;
  }
}

.single-facility {
  &__description {
    margin-bottom: 48px;
  }

  &__gallery {
    @include breakpoint($breakpoint-tablet) {
      justify-content: space-between;
      margin-bottom: 0;
    }

    display: flex;
    flex-wrap: wrap;

    width: 100%;
    margin-bottom: -16px;

    & > * {
      position: relative;
      flex-grow: 1;
      flex-shrink: 0;

      max-width: 25%;

      &:not(:last-child) {
        @include breakpoint($breakpoint-tablet) {
          margin-right: 0;
          margin-bottom: 12px;
        }

        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      flex-grow: 0;
      width: calc(50% - 6px);

      max-width: none;
      height: 180px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      height: 150px;
    }

    overflow: hidden;
    height: 190px;
    border-radius: 6px;

    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
