#single-facility {
  .section__header {
    margin-bottom: 30px;
  }
}

.single-facility {
  &__description {
    margin-bottom: 48px;
  }

  &__gallery {
    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
    }

    display: flex;

    width: 100%;

    & > * {
      position: relative;
      flex-grow: 1;

      max-width: 30%;

      &:not(:last-child) {
        @include breakpoint($breakpoint-tablet) {
          margin-right: 0;
          margin-bottom: 12px;
        }

        margin-right: 16px;
      }
    }
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      width: 100%;
      max-width: none;
      height: auto;
    }

    overflow: hidden;
    height: 190px;
    border-radius: 6px;

    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
