// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-lightgray: #f3f3f3;
$palette-gray: #444444;
$palette-orange: #ee7203;
$palette-black: #000000;

// Цветовая палитра текста
$color-text__primary: #000000;
$color-text__black: #000000;
$color-text__gray: #cdcdcd;
$color-text__white: #ffffff;
$color-text__orange: #ee7203;
