.card-contact {
  &__content {
    width: 70%;
    margin: 24px auto 0;

    text-align: center;
  }

  &__name,
  &__role {
    padding-top: 10px;
    border-top: 1px solid #040404;

    font-weight: $weight-Medium;
  }

  &__name {
    margin-bottom: 16px;
  }

  &__role {
    font-size: $font-size__text--small;
  }
}
