.button {
  padding: 16px 32px;

  border: none;
  border-radius: 12px;
  outline: none;

  background-color: transparent;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--big {
    padding: 28px 36px;
    font-size: $font-size__text--large;
  }
}
