.button {
  @include breakpoint($breakpoint-mobile--large) {
    border-radius: 8px;
  }

  padding: 16px 32px;

  border: none;
  border-radius: 12px;
  outline: none;

  background-color: transparent;

  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--big {
    @include breakpoint($breakpoint-mobile--large) {
      padding: 16px 24px;
      font-size: $font-size__text--big;
    }

    padding: 28px 36px;
    font-size: $font-size__text--large;
  }

  &--block {
    width: 100%;
  }
}
