@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="home" class="page">
  <section id="hero" class="section">
    <div class="container">
      <div class="hero">
        <div class="hero__content">
          <h1 class="hero__title">
            Комплексное
            <br>
            остекление
            <br>
            фасадов
          </h1>

          <div class="hero__advantage">
            <div class="mb-3">
              <img class="me-3" src="img/icons/misc/check.svg" alt="">
              27 лет на рынке остекления
            </div>

            <div>
              <img class="me-3" src="img/icons/misc/check.svg" alt="">
              Портфолио из более чем 100 объектов
            </div>
          </div>
          <!-- /.hero__advantage -->

          <div class="hero__action">
            <button class="button button--big button-primary">Обсудить проект по телефону</button>
          </div>
          <!-- /.hero__action -->
        </div>
        <!-- /.hero__content -->

        <img class="hero__background" src="img/layout/page/index/hero/background.jpg" alt="">
      </div>
      <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>

  <section id="service" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section__title--line">
          Что мы делаем
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="service">
        <div class="row gy-4">
          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/service.html', {
            title: "Вентилируемые <br> фасады зданий",
            image: "img/content/service/1.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/service.html', {
            title: "Светопрозрачные <br> конструкции из алюминия",
            image: "img/content/service/2.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/service.html', {
            title: "Дополнительные <br> элементы фасада",
            image: "img/content/service/3.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/service.html', {
            title: "Светопрозрачные <br> конструкции из ПВХ",
            image: "img/content/service/4.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/service.html', {
            title: "Перегородки",
            image: "img/content/service/5.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/service.html', {
            title: "Ограждения",
            image: "img/content/service/6.jpg"
            })
          </div>
          <!-- /.col-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.service -->
    </div>
    <!-- /.container -->
  </section>

  <section id="contact" class="section">
    <div class="container">
      <div class="contact">
        <img src="img/layout/page/index/contact/background.jpg" alt="" class="contact__background">

        <div class="contact__content">
          <h2 class="contact__title section__title">
            Не нашли услугу,
            <br>
            которая вам нужна?
          </h2>
          <!-- /.contact__title -->

          <div class="contact__text">
            Спросите у нас по телефону!
          </div>

          <a href="tel:" class="contact__link link">
            <img class="me-3" src="img/icons/contact/phone--big.svg" alt="">
            +7(8512)99-52-52
          </a>
        </div>
        <!-- /.contact__content -->

        <img src="img/layout/page/index/contact/clock.png" alt="" class="contact__clock">
      </div>
      <!-- /.contact -->
    </div>
    <!-- /.container -->
  </section>

  <section id="advantage" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section__title--line">
          Преимущества
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="advantage">
        <div class="row gy-4 gy-md-5">
          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/advantage.html', {
            title: "Опыт",
            icon: "img/layout/page/index/advantage/1.png",
            text: "Более 25 лет наша команда профессиональных менеджеров, конструкторов, монтажников помогает определиться с выбором, подобрать оптимальный вариант воплотить индивидуальные задумки своих клиентов в жизнь."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/advantage.html', {
            title: "Наши проекты",
            icon: "img/layout/page/index/advantage/2.png",
            text: "Клиентами компании стали ведущие организации и фирмы, занимающие лидирующие позиции в разных сферах бизнеса. Реализованные объекты стали украшением в Астраханском регионе и за его пределами."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/advantage.html', {
            title: "Проект под плюч",
            icon: "img/layout/page/index/advantage/3.png",
            text: "Передовые технологии, многолетний опыт работы на рынке и сопровождение проектов на всех этапах – замера, проектирования, производства, монтажа, позволяет выполнять проекты любой сложности и масштаба."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/advantage.html', {
            title: "Производственная компания",
            icon: "img/layout/page/index/advantage/4.png",
            text: "Специализированная на производстве пластиковых и алюминиевых светопрозрачных конструкций, создана в 2012 году в Астрахани. Производственная площадь составляет 3 750 кв.м."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/advantage.html', {
            title: "Наши партнеры",
            icon: "img/layout/page/index/advantage/5.png",
            text: "Как участник ключевых строек федерального значения мы активно сотрудничаем с ведущими лидерами по производству стекла и крупнейшими производителями строительных систем из алюминиевого профиля."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-12 col-md-6 col-lg-4">
            @@include('layout/template/card/advantage.html', {
            title: "Производственная компания",
            icon: "img/layout/page/index/advantage/6.png",
            text: "Передовые технологии, многолетний опыт работы на рынке и сопровождение проектов на всех этапах – замера, проектирования, производства, монтажа, позволяет выполнять проекты любой сложности и масштаба."
            })
          </div>
          <!-- /.col-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.advantage -->
    </div>
    <!-- /.container -->
  </section>

  <section id="about" class="section">
    <div class="about">
      <div class="about__content about-content">
        <div class="container">
          <div class="section__header">
            <h2 class="section__title section__title--line">
              Главное о нас
            </h2>
          </div>
          <!-- /.section__header -->

          <div class="about-content__wrapper">
            <div class="row">
              <div class="col-12 col-lg-6 pe-lg-0">
                <h3 class="about-content__title">
                  <span>
                    «ФАБРИКАНТЪ — ОКОННЫЕ СИСТЕМЫ» – Динамично
                    развивающаяся российская оконная компания, входящая в ГК «ФабрикантЪ»
                  </span>
                </h3>

                <div class="about-content__info">
                  <div class="about-content__heading">Специализированная на услугах:</div>
                  <ul class="about-content__list">
                    <li>фасадного и интерьерного остекления</li>
                    <li>монтаже светопрозрачных конструкций</li>
                    <li>
                      навесных вентилируемых фасадов и ограждений
                      любой комплектации
                    </li>
                  </ul>
                </div>
                <!-- /.about-content__info -->

                <div class="about-content__action">
                  <button class="button button--big button-primary">Подробнее о компании</button>
                </div>
                <!-- /.about-content__action -->
              </div>
              <!-- /.col-6 -->
            </div>
            <!-- /.row -->

            <img class="about-content__background" src="img/layout/page/index/about/background.jpg" alt="">
          </div>
          <!-- /.about__wrapper -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.about__content -->

      <div class="about__order about-order">
        <div class="container">
          <h3 class="about-order__title">ОТ и ДО посмотрите как происходит работа</h3>

          <div class="about-order__wrapper">
            <div class="row gy-5 gy-md-0">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="about-order__card">
                  <div class="about-order__video">
                    <img class="about-order__preview image image--contain" src="img/layout/page/index/about/1.png" alt="">
                    <span class="about-order__label">Короткое видео о нас</span>
                    @@include('img/icons/misc/play.svg')
                  </div>
                  <!-- /.about-order__video -->

                  <div class="about-order__step">
                    Заключение сделки
                  </div>
                  <!-- /.about-order__step -->

                  <a data-fslightbox="order" class="stretched-link" href="https://www.youtube.com/watch?v=ObE1adewKIE"></a>
                </div>
                <!-- /.about-order__card -->
              </div>
              <!-- /.col-4 -->

              <div class="col-12 col-md-6 col-lg-4">
                <div class="about-order__card">
                  <div class="about-order__video">
                    <img class="about-order__preview image image--contain" src="img/layout/page/index/about/2.png" alt="">
                    <span class="about-order__label">Короткое видео о нас</span>
                    @@include('img/icons/misc/play.svg')
                  </div>
                  <!-- /.about-order__video -->

                  <div class="about-order__step">
                    От замера до монтажа
                  </div>
                  <!-- /.about-order__step -->

                  <a data-fslightbox="order" class="stretched-link" href="https://www.youtube.com/watch?v=sYBZLu4oIcw"></a>
                </div>
                <!-- /.about-order__card -->
              </div>
              <!-- /.col-4 -->

              <div class="col-12 col-md-6 col-lg-4">
                <div class="about-order__card">
                  <div class="about-order__video">
                    <img class="about-order__preview image image--contain" src="img/layout/page/index/about/3.png" alt="">
                    <span class="about-order__label">Короткое видео о нас</span>
                    @@include('img/icons/misc/play.svg')
                  </div>
                  <!-- /.about-order__video -->

                  <div class="about-order__step">
                    Сдача объекта
                  </div>
                  <!-- /.about-order__step -->

                  <a data-fslightbox="order" class="stretched-link" href="https://www.youtube.com/watch?v=RKRpo4HfBZU"></a>
                </div>
                <!-- /.about-order__card -->
              </div>
              <!-- /.col-4 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.about-order__wrapper -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /.about__order -->
    </div>
    <!-- /.about -->
  </section>

  <section id="map" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section__title--line">
          Приедем в любой регион России
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="map">
        <h3 class="map__title">На карте отмечены регионы, где уже есть наши объекты</h3>

        <picture class="map__picture">
          <img class="image image--contain" src="img/layout/page/index/map/map.jpg" alt="">
        </picture>
        <!-- /.map__picture -->
      </div>
      <!-- /.map -->
    </div>
    <!-- /.container -->
  </section>

  <section id="portfolio-home" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section__title--line">
          Наши работы
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="portfolio-home">
        <div id="slider-portfolio-home" class="slider">
          <div class="swiper-control">
            <div class="row gx-5">
              <div class="col-12 col-md-4 mb-3 mb-md-0">
                <button data-button="changeSlide" data-index="0" class="button button--block button-outline swiper-button swiper-button--active">Жилые комплексы</button>
              </div>
              <!-- /.col-4 -->

              <div class="col-12 col-md-4 mb-3 mb-md-0">
                <button data-button="changeSlide" data-index="1" class="button button--block button-outline swiper-button">Коммерческие организации</button>
              </div>
              <!-- /.col-4 -->

              <div class="col-12 col-md-4">
                <button data-button="changeSlide" data-index="2" class="button button--block button-outline swiper-button">Гос.учереждения</button>
              </div>
              <!-- /.col-4 -->
            </div>
            <!-- /.row -->
          </div>

          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="row g-5">
                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/1.jpg",
                    "title": "ЖК Волжская Ривьера"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/2.jpg",
                    "title": "ТЦ Ярмарка"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/3.jpg",
                    "title": "Астраханский государственный университет"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/4.jpg",
                    "title": "ЖК Сердце Каспия"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/5.jpg",
                    "title": "Золотой Затон Отель"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/6.jpg",
                    "title": "Прокуратура Астраханской области"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <div class="row g-5">
                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/3.jpg",
                    "title": "Астраханский государственный университет"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/4.jpg",
                    "title": "ЖК Сердце Каспия"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/1.jpg",
                    "title": "ЖК Волжская Ривьера"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/2.jpg",
                    "title": "ТЦ Ярмарка"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/5.jpg",
                    "title": "Золотой Затон Отель"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/6.jpg",
                    "title": "Прокуратура Астраханской области"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.swiper-slide -->

              <div class="swiper-slide">
                <div class="row g-5">
                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/4.jpg",
                    "title": "ЖК Сердце Каспия"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/5.jpg",
                    "title": "Золотой Затон Отель"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/6.jpg",
                    "title": "Прокуратура Астраханской области"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/1.jpg",
                    "title": "ЖК Волжская Ривьера"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/2.jpg",
                    "title": "ТЦ Ярмарка"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->

                  <div class="col-12 col-sm-6 col-lg-4">
                    @@include('layout/template/card/portfolio-mini.html', {
                    "image": "img/content/portfolio/mini/3.jpg",
                    "title": "Астраханский государственный университет"
                    })
                  </div>
                  <!-- /.col-12 col-sm-6 col-lg-4 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.swiper-slide -->
            </div>
            <!-- /.swiper-wrapper -->
          </div>
          <!-- /.swiper -->
        </div>
        <!-- /.slider -->

        <div class="portfolio-home__action">
          <a class="link link--underline" href="">остальные объекты</a>
        </div>
        <!-- /.portfolio-home__action -->
      </div>
      <!-- /.portfolio-home -->
    </div>
    <!-- /.container -->
  </section>

  <section id="callback" class="section">
    <div class="container">
      <div class="callback">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7">
            <div class="callback__wrapper">
              <div class="section__header">
                <h2 class="section__title">
                  Получите консультацию
                  <br>
                  <span>и расчёт стоимости вашего заказа</span>
                </h2>
              </div>
              <!-- /.section__header -->

              <p class="callback__info">
                Ответим на все ваши вопросы
              </p>

              <form class="callback__form form form-callback">
                <div class="input mb-3 mb-sm-4">
                  <input placeholder="+7 (___) ____-___-___" autocomplete="off" type="tel" name="user_phone" class="input__field">
                  <span class="input__warning" src="" alt="">Номер телефона содержит ошибки</span>
                </div>
                <!-- /.input -->

                <button class="button button--big button--block button-primary" data-sending="Отправка..." type="submit">Жду звонка!</button>

                <p class="form__privacy">
                  Вы соглашаетесь с условиями
                  <br>
                  обработки персональных данных
                </p>
              </form>

              <div class="callback__action">
                или звоните
                <a class="link" href="tel:">+7 (8512) 99-52-52</a>
              </div>
              <!-- /.callback__action -->
            </div>
            <!-- /.callback__wrapper -->
          </div>
          <!-- /.col-7 -->

          <div class="col-12 col-sm-8 col-md-5">
            <div id="slider-callback" class="slider">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    @@include('layout/template/card/contact.html', {
                    "image": "img/content/callback/1.png",
                    "name": "Лилия Кудрявцева",
                    "role": "Менеджер по работе с клиентами"
                    })
                  </div>
                  <!-- /.swiper-slide -->

                  <div class="swiper-slide">
                    @@include('layout/template/card/contact.html', {
                    "image": "img/content/callback/2.png",
                    "name": "Сергей Можаров",
                    "role": "Руководитель корпоративного отдела"
                    })
                  </div>
                  <!-- /.swiper-slide -->
                </div>
                <!-- /.swiper-wrapper -->
              </div>
              <!-- /.swiper -->

              <div class="swiper-control">
                <div class="swiper-button-next"></div>
              </div>
              <!-- /.swiper-control -->
            </div>
            <!-- /.slider -->
          </div>
          <!-- /.col-5 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.callback -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')