@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="home">
  <section id="hero" class="section">
    <div class="container">
      <div class="hero">
        <div class="hero__content">
          <h1 class="hero__title">
            КОМПЛЕКСНОЕ
            <br>
            ОСТЕКЛЕНИЕ
            <br>
            ФАСАДОВ
          </h1>

          <div class="hero__advantage">
            <div class="mb-3">
              <img class="me-3" src="img/icons/misc/check.svg" alt="">
              27 лет на рынке остекления
            </div>

            <div>
              <img class="me-3" src="img/icons/misc/check.svg" alt="">
              Портфолио из более чем 100 объектов
            </div>
          </div>
          <!-- /.hero__advantage -->

          <div class="hero__action">
            <button class="button button--big button-primary">Обсудить проект по телефону</button>
          </div>
          <!-- /.hero__action -->
        </div>
        <!-- /.hero__content -->

        <img class="hero__background" src="img/layout/page/index/hero/background.jpg" alt="">
      </div>
      <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>

  <section id="service" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section__title--line">
          Что мы делаем
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="service">
        <div class="row gy-4">
          <div class="col-4">
            @@include('layout/template/card/service.html', {
            title: "Вентилируемые <br> фасады зданий",
            image: "img/content/service/1.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/service.html', {
            title: "Светопрозрачные <br> конструкции из алюминия",
            image: "img/content/service/2.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/service.html', {
            title: "Дополнительные <br> элементы фасада",
            image: "img/content/service/3.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/service.html', {
            title: "Светопрозрачные <br> конструкции из ПВХ",
            image: "img/content/service/4.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/service.html', {
            title: "Перегородки",
            image: "img/content/service/5.jpg"
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/service.html', {
            title: "Ограждения",
            image: "img/content/service/6.jpg"
            })
          </div>
          <!-- /.col-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.service -->
    </div>
    <!-- /.container -->
  </section>

  <section id="advantage" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section__title--line">
          Преимущества
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="advantage">
        <div class="row gy-5">
          <div class="col-4">
            @@include('layout/template/card/advantage.html', {
            title: "Опыт",
            icon: "img/layout/page/index/advantage/1.png",
            text: "Более 25 лет наша команда профессиональных менеджеров, конструкторов, монтажников помогает определиться с выбором, подобрать оптимальный вариант воплотить индивидуальные задумки своих клиентов в жизнь."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/advantage.html', {
            title: "Наши проекты",
            icon: "img/layout/page/index/advantage/2.png",
            text: "Клиентами компании стали ведущие организации и фирмы, занимающие лидирующие позиции в разных сферах бизнеса. Реализованные объекты стали украшением в Астраханском регионе и за его пределами."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/advantage.html', {
            title: "Проект под плюч",
            icon: "img/layout/page/index/advantage/3.png",
            text: "Передовые технологии, многолетний опыт работы на рынке и сопровождение проектов на всех этапах – замера, проектирования, производства, монтажа, позволяет выполнять проекты любой сложности и масштаба."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/advantage.html', {
            title: "Производственная компания",
            icon: "img/layout/page/index/advantage/4.png",
            text: "Специализированная на производстве пластиковых и алюминиевых светопрозрачных конструкций, создана в 2012 году в Астрахани. Производственная площадь составляет 3 750 кв.м."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/advantage.html', {
            title: "Наши партнеры",
            icon: "img/layout/page/index/advantage/5.png",
            text: "Как участник ключевых строек федерального значения мы активно сотрудничаем с ведущими лидерами по производству стекла и крупнейшими производителями строительных систем из алюминиевого профиля."
            })
          </div>
          <!-- /.col-4 -->

          <div class="col-4">
            @@include('layout/template/card/advantage.html', {
            title: "Производственная компания",
            icon: "img/layout/page/index/advantage/6.png",
            text: "Передовые технологии, многолетний опыт работы на рынке и сопровождение проектов на всех этапах – замера, проектирования, производства, монтажа, позволяет выполнять проекты любой сложности и масштаба."
            })
          </div>
          <!-- /.col-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.advantage -->
    </div>
    <!-- /.container -->
  </section>

  <section id="about" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title section__title--line">
          Главное о нас
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="about">
        <div class="row">
          <div class="col-6 pe-0">
            <h3 class="about__title">
              «ФабрикантЪ — оконные системы» – Динамично
              развивающаяся российская оконная компания, входящая в ГК «ФабрикантЪ»
            </h3>

            <div class="about__info">
              <div class="about__heading">Специализированная на услугах:</div>
              <ul class="about__list">
                <li>фасадного и интерьерного остекления</li>
                <li>монтаже светопрозрачных конструкций</li>
                <li>
                  навесных вентилируемых фасадов и ограждений
                  любой комплектации
                </li>
              </ul>
            </div>
            <!-- /.about__info -->

            <div class="about__action">
              <button class="button button--big button-primary">Подробнее о компании</button>
            </div>
            <!-- /.about__action -->
          </div>
          <!-- /.col-6 -->
        </div>
        <!-- /.row -->

        <img class="about__background" src="img/layout/page/index/about/background.jpg" alt="">
      </div>
      <!-- /.about -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')