#facility {
}

.facility {
  &__info {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    margin-top: -30px;
    color: $color-text__gray;
  }

  &__category {
    @include breakpoint($breakpoint-tablet) {
      overflow: auto;
      max-height: 205px;
      margin-top: 0;
      margin-right: 0;

      padding-right: 4px;
    }

    display: flex;
    flex-wrap: wrap;

    margin-top: 30px;
    margin-right: -16px;
    margin-bottom: -20px;

    button {
      @include breakpoint($breakpoint-tablet) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;

        padding: 12px 24px;

        border: none;
        border-bottom: 1px solid #797979;
        border-radius: 0;

        background-color: #e7e7e7;

        font-weight: $weight-Medium;
        text-align: left;
        text-transform: none;
      }

      flex-grow: 1;

      margin-right: 16px;
      margin-bottom: 20px;

      font-weight: $weight-Bold;
      text-transform: uppercase;
    }

    &::after {
      content: "";
      flex-grow: 100;
    }
  }

  &__grid {
    @include breakpoint($breakpoint-tablet) {
      padding-top: 36px;
    }

    display: inline-flex;
    flex-flow: wrap;

    margin: -12px;
    padding-top: 48px;

    &::after {
      content: "";
      flex-grow: 100;
    }

    & > * {
      position: relative;
      flex-grow: 1;
      margin: 12px;
    }
  }
}
